body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main {
    margin: 2em;
    width: 41rem;
    border: 1px solid black;
    padding: 0 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
}

img {
    margin: 15px 0;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin: 5px 0;
    font-size: 3em;
}

#info-name-container {
    display: flex;
    flex-direction: column;
}

#contact-info {
    margin: 0;
    text-align: right;
}

#contact-info p {
    margin: 5px auto;
}

hr {
    width: 95%;
}

h3 {
    text-align: center;
}

#education-container p, #experience-container p {
    margin: .25rem;
}

h2 {
    display: inline;
    margin: 0;
}

#coursework-container {
    display: flex;
}

ul {
    margin: 0;
    margin-bottom: .25rem;
}

.less-bold {
    display: inline-block;
    font-size: larger;
}